/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family:Helvetica, sans-serif;
  font-size: 16px;
  font-weight:300;
  text-align: center;
}

.clearfix:after {clear: both; content: "."; display:block; font-size:0; visibility:hidden;}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
  color:#333;
  font-size:18px;
  font-weight:normal;
}

p {
  margin: 1em 0;
}

a {
  color: #666;
  text-decoration: none;
  -webkit-transition:color 0.3s;
  -moz-transition:color 0.3s;
  -ms-transition:color 0.3s;
  -o-transition:color 0.3s;
  transition:color 0.3s;
}

a.icon {
  -webkit-transition:background-color 0.3s;
  -moz-transition:background-color 0.3s;
  -ms-transition:background-color 0.3s;
  -o-transition:background-color 0.3s;
  transition:background-color 0.3s;
}

a:hover {
  color: #aaa;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 3em;
  padding-bottom:1em;
  border-bottom: 1px solid #ddd;
}

ul.posts.sites {
  list-style-type: none;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

  ul.posts li {
    margin:0 0 2em 0;
    line-height: 1.75em;
  }

  ul.posts li p {
    margin:0 0 1em 0;
  }

  ul.posts span {
    color: #aaa;
    font-family: Menlo, Monaco, monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* wrapper
/*
/*****************************************************************************/

.wrapper {
  width: 40em;
  margin: 3em auto 2em auto;
  padding: 0 1.5em;
  position:relative;
  text-align: justify;
  line-height: 1.5em;
}

.title {
  margin-bottom: 2em;
  font-size:24px;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -ms-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
}

  .wrapper .title a {
    color:#444;
  }

  .wrapper .title a:hover {
    color:#aaa;
  }

  .wrapper .title a.extra {
    margin-left: 1em;
    font-size:16px;
    text-transform:lowercase;
  }

  .wrapper .meta {
    color: #aaa;
  }

  .wrapper #sidebar {
    position:absolute;
    top:0;
    left:0;
  }

  .wrapper .contact {
    position:absolute;
    top:0;
    right:0;
  }

  .wrapper .contact li {
    margin-bottom:1em;
    display:inline-block;
    float:right;
  }

  .wrapper .contact a {
    padding:4px 12px;
    background-color:#ddd;
    border-radius:32px;
    display:block;
    color:#333;
  }

  .wrapper .contact a:hover {
    background-color:#aaa;
  }

  .wrapper .contact a svg {
    display:block;
  }

  .wrapper .footer {
    font-size: 80%;
    color: #666;
    border-top: 1px solid #ddd;
    margin-top: 2em;
    overflow: hidden;
  }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
