---
---

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: normal;
}

h2 {
  color: #333;
  font-size: 1.1rem;
  font-weight: 300;
}

h3 {
  margin-bottom: 1rem;
  color: #777;
  font-size: 0.9rem;
  font-weight: 300;
}

p {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

a {
  color: #777;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #aaa;
}

.wrapper {
  max-width: 40rem;
  margin: 4rem auto 0;
  padding: 0 2rem 1rem 5rem;
  position: relative;
  line-height: 1.5rem;

  header {
    margin-bottom: 2rem;

    li {
      margin-bottom: 0.2rem;
      text-transform: lowercase;

      &:first-child {
        font-size: 1.5rem;
        text-transform: none;
      }

      a {
        color: #444;
        white-space: nowrap;

        &:hover {
          color:#aaa;
        }
      }
    }
  }

  aside {
    position: absolute;
    top: 0;
    left: 1rem;

    li {
      margin-bottom: 1rem;
      padding: 0.25rem;
      border-radius: 100%;
      background-color: #ddd;
      transition: background-color 0.3s;

      &:hover {
        background-color: #aaa;
      }

      svg {
        width: 2rem;
        height: 2rem;
        display: block;
        color: #444;
      }
    }
  }

  ul.posts {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;

    li {
      margin: 0 0 2rem 0;
      line-height: 1.75rem;

      span {
        margin-right: 1rem;
        color: #aaa;
        font-size: 0.9rem;
      }
    }

    &.related li {
      margin: 0;
    }
  }
}
