---
layout: default
published: true
---
<section id="work">
  <h1>Work</h1>
  <ul>
    {% assign jobs = site.work | sort: 'date' %}
    {% for job in jobs reversed %}
    <li>
      <h2>{{ job.title }}, <a href="{{ job.link }}" target="_blank">{{ job.org }}</a></h2>
      <h3>{{ job.date | date: "%B %Y" }} to {{ job.end | date: "%B %Y" }}</h3>
      {{ job.content }}
    </li>
    {% endfor %}
  </ul>
</section>

<section id="education">
  <h1>Education</h1>
  <ul>
    {% assign schools = site.education | sort: 'date' %}
    {% for school in schools reversed %}
    <li>
      <h2>{% if school.degree %}{{ school.degree }}, {% endif %}<a href="{{ school.link }}" target="_blank">{{ school.name }}</a></h2>
      <h3>{{ school.date | date: "%B %Y" }} to {{ school.end | date: "%B %Y" }}</h3>
      {{ school.content }}
    </li>
    {% endfor %}
  </ul>
</section>

<section id="skills">
  <h1>Skills</h1>
  <p>
    {% for skill in site.data.skills %}
      {{ skill }}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </p>
</section>
