---
---

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 1.75rem;

  @media print {
    font-size: 0.7rem;
    line-height: 1.25rem;
  }
}


h1 {
  margin-bottom: 0.2rem;
  color: #333;
  font-size: 1.5rem;
  font-weight: 300;

  a {
    color: #333;
  }

  @media print {
    font-size: 1.3rem;
  }
}

h2 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: normal;

  @media print {
    font-size: 1rem;
  }
}

h3 {
  color: #333;
  font-size: 1.1rem;
  font-weight: 300;

  @media print {
    font-size: 0.9rem;
  }
}

h4 {
  color: #777;
  font-size: 0.9rem;
  font-weight: 300;

  @media print {
    font-size: 0.7rem;
  }
}

h5 {
  font-size: 0.9rem;
  font-weight: 300;
  font-style: italic;

  @media print {
    font-size: 0.7rem;
  }
}

p {
  margin: 1rem 0;
}

ul {
  list-style-type: none;
}

a {
  color: #777;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #aaa;
}

.wrapper {
  max-width: 40rem;
  margin: 4rem auto 0;
  padding: 0 2rem 0 5rem;
  position: relative;
}

header {
  margin-bottom: 2rem;

  h4 {
    @media screen {
      display: none;
    }
  }

  nav {
    li {
      text-transform: lowercase;

      a {
        color: #444;
        white-space: nowrap;
      }
    }

    @media print {
      display: none;
    }
  }
}

main, section {
  margin-bottom: 3rem;
  padding-bottom: 1rem;

  @media print {
    margin-bottom: 1.5rem;
  }
}

section {
  border-bottom: 1px solid #ddd;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  li {
    margin-bottom: 2rem;

    @media print {
      margin-bottom: 1.25rem;
    }
  }
}

aside {
  position: absolute;
  top: 0;
  left: 1rem;

  li {
    margin-bottom: 1rem;
    padding: 0.25rem;
    border-radius: 100%;
    background-color: #ddd;
    transition: background-color 0.3s;

    &:hover {
      background-color: #aaa;
    }

    img, svg {
      width: 2rem;
      height: 2rem;
      display: block;
      color: #444;
    }
  }

  @media print {
    display: none;
  }
}
