<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title | default: site.author }}</title>
    <meta name="author" content="{{ page.author | default: site.author }}" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <ul>
          <li>
            <a href="/">{{ site.author }}</a>
          </li>
          <li>
            <a href="/cv/">CV</a>
          </li>
        </ul>
      </header>

      <main>
        {{ content }}
      </main>

      <aside>
        <ul>
          {% for item in site.data.social %}
          {% assign fragment = item.title | downcase %}
          {% assign href = site.baseurl | append: '/assets/images/icons.svg#' | append: fragment %}
          <li>
            <a class="icon" href="{{ item.link }}" target="_blank">
              <svg>
                <title>{{ item.title }}</title>
                <use xlink:href="{{ href }}" fill="#fff" stroke="#fff" stroke-width="3" stroke-linejoin="round" />
                <use xlink:href="{{ href }}" fill="currentColor" />
              </svg>
            </a>
          </li>
          {% endfor %}
        </ul>
      </aside>
    </div>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11747615-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </body>
</html>
