<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title | default: site.author }}</title>
    <meta name="author" content="{{ page.author | default: site.author }}" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <ul>
          <li>
            <a href="/">{{ site.author }}</a>
          </li>
          <li>
            <a href="/cv">CV</a>
          </li>
        </ul>
      </header>

      <main>
        {{ content }}
      </main>

      <aside>
        <ul>
          <li>
            <a class="icon" href="https://github.com/mikemorris" target="_blank">
              <svg>
                <use href="{{ site.baseurl }}/assets/images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="icon" href="https://twitter.com/mmorri" target="_blank">
              <svg>
                <use href="{{ site.baseurl }}/assets/images/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="icon" href="https://www.linkedin.com/in/michaelpatrickmorris" target="_blank">
              <svg>
                <use xlink:href="{{ site.baseurl }}/assets/images/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </aside>
    </div>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11747615-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </body>
</html>
